*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.image-main {
  background-size: cover;
  width: auto;
  height: 900px;
  margin: -20px;
}
.top-menu {
  background: rgba(247, 232, 212, 0.5);
  padding: 10px;
}
.top-menu {
  overflow: hidden;
}
.navbar-logo {
  display: inline-block;
  width: 20%;
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  float: right;
  width: 60%;
}
.menu-main li {
  display: inline-block;
}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 80px;
  padding-left: 40px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Snell Roundhand", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: #56555e;
}
.image-logo {
  float: left;
  width: 20%;
  border-radius: 15px;
}
.number {
  width: 20%;
  float: right;
}
.container {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.frame-one {
  float: left;
  width: 33%;
}
.frame-two {
  float: left;
  width: 67%;
}
.text-main {
  font-family: cursive;
  color: rgb(#000);
  font-size: 40px;
  padding-top: 60px;
  padding-left: 10px;
}
.second-main {
  font-size: 22px;
  color: #000;
  position: relative;
  padding-left: 20px;
  line-height: 1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}
.second-menu {
  font-size: 22px;
  padding-left: 91px;
  line-height: 2;
  width: 100%;
  display: inline-block;
}
.ornament {
  background-image: url(след-вектора-фон-150602809.png);
  width: 100%;
  height: 167px;
  top: 106%;
  float: right;
}
.about {
  margin-top: 180px;
  min-height: 900px;
  font-size: 26px;
  color: #000;
  background-color: #eed7b6fb;
}
.about h1 {
  margin: 0;
}
.container-about {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.about-menu {
  line-height: 2;
  padding-left: 100px;
  float: left;
}
.image-about {
  border-radius: 108px;
}
